@import url('../../Styles/variables.css');
/* .ejemplosProyectos{
    width: 100%;

}
.ejemplosProyectos div{
    width: 95%;
    height: 95%;
    margin: auto;
    display: grid;
    grid-template-areas:
    "rect1 rect2"
    "rect3 rect4";
    grid-gap: 10px; 
    
}
.rect1, .rect2, .rect3, .rect4 {
    background-color: #ffee004d;
    border-radius: 15px;
  }


.ejemProyecCuadri > div{
    transition: transform 0.3s; 

}
.ejemProyecCuadri > div:hover{
    transform: scale(1.05);
} */


.ejemplosProyectos {
    width: 100%;
  }
  
  .ejemplosProyectos .ejemProyecCuadri {
    width: 95%;
    height: 95%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "rect1 rect2"
      "rect3 rect4";
    grid-gap: 10px;
  }
  
  .rect {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
  }
  
  .rect1 {
    background-color: #ffee004d;
    /* background-image: url('ruta-a-tu-imagen1.jpg'); */
  }
  
  .rect2 {
    background-color: #ffee004d;
    /* background-image: url('ruta-a-tu-imagen2.jpg'); */
  }
  
  /* Agrega estilos comunes para rect3 y rect4 según sea necesario */
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s, filter 0.3s;
    filter: blur(0);
  }
  
  .rect:hover .overlay {
    opacity: 1;
    filter: blur(5px);
  }
  
  .iconos {
    text-align: center;
  }
  
  .iconos img {
    width: 50px;
    height: 50px;
    margin: 5px;
  }